{% include 'base.html' %}


{% block content %}
<h1>Cadastrar cliente</h1>
<form method="post">
		{% csrf_token %}
	    <div class="form-group"><label class="control-label" for="id_nome">Nome</label><input type="text" value="{{cliente.nome}}" name="nome" maxlength="50" class="form-control" placeholder="Nome" title="" required="" id="id_nome" ></div>
		<div class="form-group"><label class="control-label" for="id_sexo">Sexo</label><select name="sexo" class="form-control" title="" required="" id="id_sexo">
		  <option value="" selected="">---------</option>

		  <option {% if cliente.sexo == 'f' %} selected="selected" {% endif %} value="f">Feminino</option>

		  <option {% if cliente.sexo == 'm' %} selected="selected" {% endif %} value="m">Masculino</option>

		</select></div>
		<div class="form-group"><label class="control-label" for="id_telefone">Telefone</label><input type="text" value="{{cliente.telefone}}" name="telefone" maxlength="15" class="form-control" placeholder="Telefone" title="" required="" id="id_telefone"></div>
		<div class="form-group"><label class="control-label" for="id_celular">Celular</label><input type="text" value="{{cliente.celular}}" name="celular" maxlength="15" class="form-control" placeholder="Celular" title="" required="" id="id_celular"></div>
		<div class="form-group"><label class="control-label" for="id_email">Email</label><input type="email" value="{{cliente.email}}" name="email" maxlength="254" class="form-control" placeholder="Email" title="" required="" id="id_email"></div>
		<div class="form-group"><label class="control-label" for="id_logradouro">Logradouro</label><input type="text" value="{{cliente.logradouro}}" name="logradouro" maxlength="100" class="form-control" placeholder="Logradouro" title="" required="" id="id_logradouro"></div>
		<div class="form-group"><label class="control-label" for="id_numero">Numero</label><input type="number" name="numero" class="form-control" placeholder="Numero" title="" required="" id="id_numero"></div>
		<div class="form-group"><label class="control-label" for="id_complemento">Complemento</label><input type="text" value="{{cliente.complemento}}" name="complemento" maxlength="50" class="form-control" placeholder="Complemento" title="" required="" id="id_complemento"></div>
		<div class="form-group"><label class="control-label" for="id_bairro">Bairro</label><input type="text" value="{{cliente.bairro}}" name="bairro" maxlength="50" class="form-control" placeholder="Bairro" title="" required="" id="id_bairro"></div>
		<div class="form-group"><label class="control-label" for="id_cidade">Cidade</label><input type="text" value="{{cliente.cidade}}" name="cidade" maxlength="50" class="form-control" placeholder="Cidade" title="" required="" id="id_cidade"></div>
		<div class="form-group"><label class="control-label" for="id_estado">Estado</label><input type="text" value="{{cliente.estado}}" name="estado" maxlength="50" class="form-control" placeholder="Estado" title="" required="" id="id_estado"></div>
			    <input type="submit" value=" Cadastrar ">
	</form>
{% endblock %}